*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.img-fluid {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

@media (min-width: 768px){
    .col-md-6 {
        width: 100%;
    }
}

.card {
    margin: 10px;
}